# QuantEcon--DIIS Workshop: Python First Steps

First steps in Python, prepared for the DIIS workshop, April 2019.

Written by John Stachurski

### Basic Maths

In [1]:
10 + 10

20

In [2]:
2 * 10

20

In [3]:
10**2

100

### Variables

In [4]:
x = 10
y = 2

In [5]:
x * y

20

In [6]:
x**y

100

In [7]:
z = x - y

In [8]:
z

8

### Built in Data Types

Data types that come provided with Python

#### Primitive data types

In [9]:
x = 100
type(x)

int

In [10]:
y = 0.5
type(y)

float

In [13]:
x = "hello"
type(x)

str

In [14]:
y = " world"

In [15]:
x + y

'hello world'

#### Container types

In [16]:
x = [1, 10, 2]  # Python list

In [17]:
x

[1, 10, 2]

In [18]:
x[0]

1

We can mix primitive types inside a list

In [19]:
x[0] = "foobar"

In [20]:
x

['foobar', 10, 2]

Tuples are like lists but "immutable"

In [21]:
x = (1, 10, 2)  # Python tuple

In [22]:
x = 1, 10, 2  # Equivalent syntax

In [23]:
x[0]

1

In [24]:
x[0] = "foobar"  # Tuples are immutable

TypeError: 'tuple' object does not support item assignment

### Loops

$n$ times tables

In [25]:
n = 9
for i in range(12):
    print(n * i, end=", ")
    
print(n * 12)

0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108

In [26]:
i = 0
while i < 12:
    print(n * i, end=", ")
    i = i + 1
    
print(n * 12)

0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108

### Functions

Python has some "built in" functions.

In [27]:
max(10, 100, -2)

100

In [28]:
min(10, 100, -2)

-2

In [29]:
print("foobar")

foobar

In [30]:
type("foobar")

str

We can also make our own  functions.

In [31]:
def f(x):
    """
    Returns 2 times the input.
    
    The input x is any variable such that `2 * x` is well defined.
    """
    y = 2 * x
    return y

In [32]:
f(3)

6

In [33]:
f(10)

20

In [34]:
f(0.5)

1.0

In [35]:
f?

### Everything's an Object!

In [36]:
x = ["foo", "bar"]

In [37]:
type(x)

list

In [38]:
x.append("fish")

In [39]:
x

['foo', 'bar', 'fish']

In [40]:
x.pop()

'fish'

In [41]:
x

['foo', 'bar']

In [42]:
x = "foobar"

In [43]:
type(x)

str

In [44]:
x.capitalize()

'Foobar'

In [45]:
x.upper()

'FOOBAR'