# QuantEcon--DIIS Workshop: Python First Steps

First steps in Python, prepared for the DIIS workshop, April 2019.

Written by John Stachurski

### Basic Maths

In [39]:
10 + 10

20

In [40]:
2 * 10

20

In [41]:
10**2

100

### Variables

In [42]:
x = 10
y = 2

In [43]:
x * y

20

In [44]:
x**y

100

In [45]:
z = x - y

In [46]:
z

8

### Built in Data Types

Data types that come provided with Python

#### Primitive data types

In [47]:
x = 100
type(x)

int

In [48]:
y = 0.5
type(y)

float

In [49]:
x = "hello"
type(x)

str

In [51]:
x.upper()

'HELLO'

#### Container types

In [52]:
x = [1, 10, 2]  # Python list

In [53]:
x

[1, 10, 2]

In [54]:
x[0]

1

We can mix primitive types inside a list

In [55]:
x[0] = "foobar"

In [56]:
x

['foobar', 10, 2]

In [16]:
for element in x:
    print(type(element))

<class 'str'>
<class 'int'>
<class 'int'>

Tuples are like lists but "immutable"

In [17]:
x = (1, 10, 2)  # Python tuple

In [18]:
x = 1, 10, 2  # Equivalent syntax

In [19]:
x[0]

1

In [20]:
x[0] = "foobar"  # Tuples are immutable

TypeError: 'tuple' object does not support item assignment

### Loops

$n$ times tables

In [57]:
n = 9
for i in range(12):
    print(n * i, end=", ")
    
print(n * 12)

0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108

In [61]:
list(range(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [63]:
i = 0
while i < 12:
    print(n * i, end=", ")
    i = i + 1
    
print(n * 12)

0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108

### Functions

Python has some "built in" functions.

In [67]:
max(10, 100, -2)

100

In [68]:
min(10, 100, -2)

-2

In [69]:
print("foobar")

foobar

In [70]:
type("foobar")

str

We can also make our own  functions.

In [71]:
def f(x):
    """
    Returns 2 times the input.
    
    The input x is any variable such that `2 * x` is well defined.
    """
    y = 2 * x
    return y

In [72]:
f(3)

6

In [73]:
f(10)

20

In [74]:
f(0.5)

1.0

In [75]:
f?

In [76]:
def some_function(x, y):
    return "foobar"

In [77]:
some_function(10, 20)

'foobar'

### Everything's an Object!

In [78]:
x = ["foo", "bar"]

In [79]:
type(x)

list

In [80]:
x.append("fish")

In [81]:
x

['foo', 'bar', 'fish']

In [82]:
x.pop()

'fish'

In [83]:
x

['foo', 'bar']

In [84]:
x = "foobar"

In [85]:
type(x)

str

In [86]:
x.capitalize()

'Foobar'

In [87]:
x.upper()

'FOOBAR'